body {
	background: #f5f5f5;
	font-family: sans-serif;
}

canvas {
	position: absolute;
	top: 0;
	right: 0;
}

a {
	color: #AFAFAE;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
}

nav > a {
	color: #f4f4f4;
	font-size: 110%;
	z-index: 2;
}

nav {
	display: flex;
	position: absolute;
	top: 108px;
    right: 61px;
}

#home {
	margin-right: 67px;
}

#about-me {
	margin-right: 46px;
}

#resume {
	margin-left: 47px;
}

#contact {
	margin-left: 62px;
}

header {
	height: 190px;
}

h3 {
	margin: 0px;
	font-size: 100%;
}

h2 {
	color: gray;
	margin: 0px;
}

h1 {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.header-logo {
	color: #828282;
	font-size: 150%;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
	margin-top: 5px;
}

.title {
	font-size: 500%;	
	margin-bottom: 20px;
	text-align: left;
}

.title-page {
	margin-left: 80px;
	margin-bottom: 100px;
}

img {
	width: 100%;
}

.project-container {
	width: 300px;
}

.project-container:first {
	margin-right: 60px;
}

.project-container:last-child {
	margin-left: 60px;
}

.projects {
	display: flex;
	justify-content: center;
	border-bottom: solid 1px lightgray;
}

.project-image {
	height: 200px;
	display: flex;
	align-items: center;
}

li > img {
	width: 100px;
	margin: 20px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 900px;
	padding: 0;
	margin: 0;
}

.skills {
	display: flex;
	justify-content: center;
}